@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Maven+Pro:wght@400;700;900&family=Righteous&family=Ubuntu+Mono:wght@400;700&display=swap');
/* GOOGLE FONTS 
font-family: 'JetBrains Mono', monospace;
font-family: 'Maven Pro', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Ubuntu Mono', monospace;
*/

/*------------------------------------- COLOR PALLETE */
:root {
  --color1: #1F2335;
  --color2: #24283B;
  --color3: #C0CAF5;
  --color4: #7ACFFF;
  --color5: #BB9ADA;
  --color6: #8ECE5B;
  --color7: #F75E60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*------------------------------------- GENERAL STYLES */

.main-container {
  font-family: 'Ubuntu Mono', monospace;
  background: var(--color2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  opacity: 0;
  transition: .5s all ease;
  margin-left: -30vw;
  padding: 0 1.5rem;
}

.visible {
  opacity: 1;
  margin-left: 0;
}

.subtitle {
  font-size: 1.75rem;
  margin: 1.5rem;
  color: var(--color7);
}

.paragraph {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-style: italic;
  color: var(--color4);
}

li {
  list-style: none;
}

.no-display {
  display: none;
}

.profile-picture {
  z-index: 1;
  max-width: 150px;
}

/*------------------------------------- PRESENTATION */


.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: max(2rem, 3vw);
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  line-height: max(2.5rem, 3vw);
  color: var(--color4);
  padding: 1rem;
  width: 100%;
  font-style: italic;
}

.highlight {
  color: var(--color6);
  font-size: 2.5rem;
  line-height: max(4rem, 4vw);
}

.tab {
  margin-left: 1rem;
}

/*------------------------------------- MENU ICON */

.menu-icon {
  z-index: 3;
  position: fixed;
  top: 2rem;
  left: 2rem;
  width: 30px;
  height: 32px;
  border: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-icon > div {
  display: block;
  height: 3px;
  border-radius: 5px;
  width: 100%;
  background: var(--color3);
  transform-origin: left;
  transition: all ease .5s;
}

.menu-click-style1 {
  transform: rotate(45deg);
}

.menu-click-style2 {
  opacity: 0;
}

.menu-click-style3 {
  transform: rotate(-45deg);
}


/*------------------------------------- NAV BAR */

.navbar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60vh;
  background: var(--color1);
  transition: margin-top ease .5s;
}

.navbar ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  color: var(--color7);
}

.navbar-collapse {
  margin-top: -60vh;
}

/*------------------------------------- SKILLS SECTION */

.skills-grid {
  margin-top: 2rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  color: var(--color4);
}

.skills-grid li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learning {
  grid-column: 1 / 3;
}

.skill-icon {
  max-width: 50px;
  margin: 15px;
}

/*------------------------------------- PROJECTS SECTION */

.section.projects {
  overflow: auto;
}

.section.projects .subtitle {
  position: sticky;
  left: 0;
}

.project-preview {
  border: 2px solid var(--color4);
  border-radius: 20px;
  padding: 1rem;
  width: 300px;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  color: var(--color3);
  line-height: 1.25rem;
}

.project-title {
  font-size: 1.5rem;
  text-align: center;
  grid-column: 1 / 3;
}

.projects-gallery {
  display: flex;
  align-self: flex-start;
  flex-wrap: nowrap;
  overflow: scroll;
}

.project-screenshot {
  max-width: 250px;
  grid-column: 1 / 3;
  align-self: center;
  justify-self: center;
}

.project-description {
  grid-column: 1 / 3;
}

.project-btn-web,
.project-btn-code {
  text-decoration: none;
  border-radius: 10px;
  padding: .5rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--color2);
  text-align: center;
}

.project-btn-web {
  background: var(--color5);
}

.project-btn-code {
  background: var(--color4);
}

/*------------------------------------- CONTACT SECTION */

.contact ul {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contact-icon {
  width: 50px;
  cursor: pointer;
}

.downloadcv-btn {
  display: block;
  text-decoration: none;
  background: var(--color4);
  padding: 1rem;
  border-radius: 20px;
  font-weight: bold;
  color: var(--color2);
  margin: 1rem;
}

/*------------------------------------- FOOTER SECTION */
.footer {
  height: 5vh;
  width: 100%;
  position: relative;
  bottom: 0;
  margin: 1rem 0 .5rem 0;
  color: var(--color6);
  text-align: center;
  font-weight: bold;
}
